---
import '../styles/global.css';
import cv from '../cv.json';
---
<h1 class="font-semibold text-4xl pt-10">POSTS
</h1>
<br>
<hr class="border-0.5 border-gray-300 w-[700px]"/>
<h2 class="text-black font-semibold pt-7 text-2xl">{cv.blog_posts[0].title}</h2>
<h3 class="text-gray-500">Publicat el {cv.blog_posts[0].date}</h3>
<h4>{cv.blog_posts[0].summary}</h4>
<br>
<hr class="border-0.5 border-gray-300 w-[700px]"/>

<h2 class="text-black font-semibold pt-7 text-2xl">{cv.blog_posts[1].title}</h2>
<h3 class="text-gray-500">Publicat el {cv.blog_posts[1].date}</h3>
<h4 class="pb-5">{cv.blog_posts[1].summary}</h4>
<br>
<hr class="border-0.5 border-gray-300 w-[700px]"/>

<h2 class="text-black font-semibold pt-7 text-2xl">{cv.blog_posts[2].title}</h2>
<h3 class="text-gray-500">Publicat el {cv.blog_posts[2].date}</h3>
<h4>{cv.blog_posts[2].summary}</h4>
<br>
<hr class="border-0.5 border-gray-300 w-[700px]"/>

<h2 class="text-black font-semibold pt-7 text-2xl">{cv.blog_posts[3].title}</h2>
<h3 class="text-gray-500">Publicat el {cv.blog_posts[3].date}</h3>
<h4 class="pb-5">{cv.blog_posts[3].summary}</h4>
<br>
<hr class="border-0.5 border-gray-300 w-[700px]"/>

<h2 class="text-black font-semibold pt-7 text-2xl">{cv.blog_posts[4].title}</h2>
<h3 class="text-gray-500">Publicat el {cv.blog_posts[4].date}</h3>
<h4>{cv.blog_posts[4].summary}</h4>
<br>
<hr class="border-0.5 border-gray-300 w-[700px]"/>

<h2 class="text-black font-semibold pt-7 text-2xl">{cv.blog_posts[5].title}</h2>
<h3 class="text-gray-500">Publicat el {cv.blog_posts[5].date}</h3>
<h4 class="pb-5">{cv.blog_posts[5].summary}</h4>
<button id="Boton" class="bg-black text-white w-50 h-10 rounded-3xl duration-300 ease-in-out hover:scale-110 hover:shadow-lg" onclick="window.location.href='/LandingPage'"><p class="font-mono">← Retornar</p></button>